<div class="container">
    <mat-toolbar style="margin-top: 20px;">
        <span>Crear Usuarios</span>
    </mat-toolbar>
    <mat-card style="margin-top: 20px;">
        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput placeholder="Ej: Francisco">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="./assets/img/usuario.png" width="250" height="250" alt="">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input formControlName="correo" matInput placeholder="Ej: franciflee@gmail.com">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input formControlName="datepick" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sexo">
                            <mat-option value="Hombre">Hombre</mat-option>
                            <mat-option value="Mujer">Mujer</mat-option>
                            <mat-option value="Siempre">Siempre</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="example-button-row">
                        <button mat-raised-button style="margin-right: 20px;">Volver</button>
                    </div>
                    <div class="example-button-row">
                        <button type="submit" [disabled]="form.invalid" mat-flat-button color="primary">Guardar</button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>